body{
    background: chocolate;
}

.title{
    font-size: 3em;
    color: crimson;
}

.logo{
    width: 200px;
}

#principal{
    font-size: 5em;
}

#titulos{
    width: 65vw;
    margin:  0 auto;
    padding: 3em;
    border: 2px solid black;
}

.tarjeta{
    border: 2px solid black;
    width: fit-content;
    padding: 0 1em 0 1em;
    border-radius: 8%;
    transition: 2s;
}

.tarjeta:hover{
    background: green;
}